@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #cacaca;
  --breakpoint-xs: 380px;
}

html,
body {
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  scrollbar-width: none;
}

body {
  background-color: #0e081d;
  position: relative;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  box-shadow: inset 0 0 160px 60px rgba(22, 41, 51, 0.35),
  inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.hero-circle {
  position: absolute;
  width: 550px;
  height: 550px;
  border-radius: 50%;

  /* Stroke */
  border: 8px solid rgba(180, 180, 180, 0.25);

  /* Positioning like Figma */
  top: 60%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: -10;
  opacity: 0.2;
}

.glow-image {
  filter: drop-shadow(0 0 10px rgba(48, 48, 48, 0.6))
    drop-shadow(0 0 25px rgba(26, 26, 26, 0.875));
  transition: filter 0.3s ease;
}

.glow-text {
  filter: drop-shadow(0 0 10px rgba(174, 174, 174, 0.6))
    drop-shadow(0 0 25px rgba(39, 39, 39, 0.875));
  transition: filter 0.3s ease;
}

/* Imported fonts */
.biz-udmincho-regular {
  font-family: "BIZ UDMincho", serif;
  font-weight: 400;
  font-style: normal;
}

.over-the-rainbow-regular {
  font-family: "Over the Rainbow", cursive;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-bold {
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
